.wrapper{
  position: relative;
}
.kitty-1{
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

.wrapper{
  position: relative;
}
#kitty-2{
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

.wrapper{
  position: relative;
}
#basket img{
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
 
}

.wrapper{
  position: relative;
}
#ball + img{
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

.wrapper{
  position: relative;
}
img[alt="Kitty 5"]{
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px;
}
